<div class="row">
    <div class="col-4"></div>
    <div class="col-4" >
      
    
        <form [formGroup]="formulario" (ngSubmit)="metodo()" novalidate>
            <div class="mb-3">
                <label for="exampleInputUser" class="form-label" >Nombre</label>
                <input type="email" class="form-control" id="exampleInputusuario" formControlName="rut" aria-describedby="emailHelp">
                <div id="usuariolHelp" class="form-text">Ingrese el Nombre</div>
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >Rut</label>
              <input type="email" class="form-control" id="exampleInputEmail1" formControlName="nombre" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Ingrese su Rut</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputTelefono" class="form-label" >Direccion</label>
              <input type="text" class="form-control" formControlName="direccion" id="exampleInputPassword1">
              <div id="telefonoHelp" class="form-text">Ingrese su dirreción</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputTelefono" class="form-label" >Telefono</label>
                <input type="text" class="form-control" formControlName="telefono" id="exampleInputPassword1">
                <div id="telefonoHelp" class="form-text">Ingrese su Telefono</div>
              </div>
           
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
          
    
          <div> {{datos}}</div>
        </div>


        <div>
            <h1>Corporación</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let elemento of lista">
                    <th scope="row">{{elemento.rut}}</th>
                    <td>{{elemento.nombre}}</td>
                    <td>{{elemento.direccion}}</td>
                    <td>{{elemento.telefono}}</td>
                    <td><button (click)="eliminar()" class="btn btn-danger">Eliminar</button></td>
                  </tr>

                </tbody>
              </table>


        </div>
    </div>
    
    